/* General */
$fontSize: 14px;
$bodyBgColor: #e4e4e4;
$textColor: #333333;
$textSecondaryColor: #707070;
$borderRadius: 3px;
$dividerColor: #e3e3e3;
$transitionDuration: 0.5s;
$maskBgColor: #424242;

/* Menu Common */
$menuitemBadgeBgColor: #ff0000;
$menuitemBadgeColor: #ffffff;
$submenuFontSize: 13px;
$menuitemActiveRouteColor: #1fa1fc;

/* Menu Light */
$menuBgColorFirst: #f3f4f9;
$menuBgColorLast: #d7dbe8;
$menuitemColor: #232428;
$menuitemHoverColor: #0388e5;
$menuitemActiveColor: #0388e5;
$menuitemActiveBgColor: #ffffff;
$menuitemBorderColor: rgba(207, 211, 224, 0.6);

/* Menu Dark */
$menuDarkBgColorFirst: #274028;
$menuDarkBgColorLast: #4d505b;
$menuitemDarkColor: #ffffff;
$menuitemDarkHoverColor: #40c200;
$menuitemDarkActiveColor: #274028;
$menuitemDarkActiveBgColor: #40c200;
$menuitemDarkActiveBgColorProfile: #2e3035;
$menuitemDarkBorderColor: rgba(52, 56, 65, 0.6);

/* Topbar */
$topbarLeftBgColor: #274028;
$topbarRightBgColor: #4d505b;
$topbarItemBadgeBgColor: #ef6262;
$topbarItemBadgeColor: #ffffff;
$topbarItemColor: #ffffff;
$topbarItemHoverColor: #c3e8fb;
$topbarSearchInputBorderBottomColor: #ffffff;
$topbarSearchInputColor: #ffffff;

/* Footer */
$footerBgColor: #ffffff;
